<html>
<head>
    <title>Kenzan node test</title>
</head>
<body>
<div>Header</div>
<div>Menu</div>
{{{body}}}
<div>
    <p>Footer</p>
    {{#if err}}
        <p>There was an error</p>
        <p>{{err}}</p>
    {{/if}}
</div>
</body>
</html>
